body {
  text-align: center;
  background-color: #283149;
  font-family: "Sofia", sans-serif;

}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-color: green;
}

.a {
  background-color: red;
}

.s {
  background-color: purple;
}

.d {
  background-color: white;
}

.j {
  background-color: blue;
}

.k {
  background-color: greenyellow;
}

.l {
  background-color: teal;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  font-family: "Sofia", sans-serif;
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 3px 4px 0 black;
}
